@font-face {
    font-family: "Ethnocentric";
    src: url("../fonts/ethnocentric/Ethnocentric Rg.otf");
    font-weight: normal; /* 400 */
}
@font-face {
    font-family: "Ethnocentric";
    src: url("../fonts/ethnocentric/Ethnocentric Rg It.otf");
    font-weight: normal; /* 400 */
    font-style: italic;
}
@font-face {
    font-family: "Exo 2";
    src: url("../fonts/Exo_2/Exo2-VariableFont_wght.ttf");
    font-weight: normal; /* 400 */
}
@font-face {
    font-family: "Exo 2";
    src: url("../fonts/Exo_2/Exo2-Italic-VariableFont_wght.ttf");
    font-weight: normal; /* 400 */
    font-style: italic;
}
@font-face {
    font-family: "Edge of the Galaxy";
    src: url("../fonts/edge-of-the-galaxy/EdgeOfTheGalaxyRegular-OVEa6.otf");
    font-weight: normal; /* 400 */
}

body {
font-family: 'Exo 2';
}

.header {
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
margin-bottom: 1em;
}

/*
.header, .page2-header {
border: solid 1px green;
}

.game-name, .playbook-title {
border: solid 1px red;
}
*/

.header .game-name {
font-family: 'Ethnocentric';
text-transform: uppercase;
margin-block-end: 0;
text-align: right;
margin: 0;
}

.header .game-name .ampersand {
color: #888888;
}

.header h2 {
font-family: 'Ethnocentric';
text-transform: uppercase;
margin: 0;
display: inline-block;
font-size: 2em;
}

.header p {
text-transform: uppercase;
font-size: 0.7em;
margin-top: 0;
margin-left: 1em;
display: inline-block;
}

.description table {
border-collapse: collapse;
width: 100%;
}

.description .row1 .title {
width: 15%;
}

.description .row1 .value {
width: 35%;
}

.description .title {
border-top: solid 1px black;
border-left: solid 1px black;
border-bottom: solid 1px black;
text-transform: uppercase;
font-weight: bold;
}

.description .value {
border-top: solid 1px black;
border-right: solid 1px black;
border-bottom: solid 1px black;
font-family: 'Architects Daughter';
color: #0000ff;
}

.money {
display: flex;
justify-content: left;
margin-top: 1em;
margin-bottom: 0.5em;
}

.money .title {
font-family: 'Ethnocentric';
text-transform: uppercase;
}

.money .cred {
padding-right: 1em;
}

.money .stash {
color: #888888;
}

.attributes {
display: flex;
justify-content: space-between;
margin-top: 1em;
}

.attribute-table {
border-collapse: collapse;
}

.attribute-table td {
text-transform: uppercase;
font-weight: bold;
color: #cccccc;
padding-left: 0.5em;
}

.attribute-table .title, .attribute-table .on {
color: #000000;
}

.attribute-table .col1 {
border-right: solid 1px black;
padding-right: 0.5em;
}

.attribute-table .resistance td {
color: #000000;
padding-left: 0.1em;
}

.attribute-table .resistance .title {
font-family: 'Ethnocentric';
text-transform: none;
font-weight: normal;
padding-left: 0.5em;
padding-right: 0.5em;
display: inline-block;
width: 7em;
background: #000000;
color: #ffffff;
}

.attribute-xp ul {
margin: 0;
padding-left: 1em;
font-size: 0.8em;
}

.mark-xp {
margin-top: 1em;
}

.mark-xp ul {
margin: 0;
padding-left: 1em;
font-size: 0.8em;
}

.mark-xp p {
margin: 0;
font-size: 0.8em;
}

.playbook-advancement .title {
font-family: 'Ethnocentric';
padding-left: 0.5em;
padding-right: 0.5em;
display: inline-block;
background: #000000;
color: #ffffff;
}

.health {
display: flex;
justify-content: left;
margin-top: 1em;
margin-bottom: 0.5em;
}

.health .title {
font-family: 'Ethnocentric';
padding-left: 0.5em;
padding-right: 0.5em;
display: inline-block;
width: 6em;
}

.health .block2 {
margin-left: 1em;
}

.health .block2 div {
margin-bottom: 0.1em;
}

.health .block2 .title {
background: #cccccc;
}

.health .block2 .heavy.title {
color: #888888;
background: #ffffff;
}

.health .stress .title {
background: #000000;
color: #ffffff;
}

.health .trauma {
color: #888888;
}

.health .trauma .title {
background: #888888;
color: #ffffff;
}

.health .trauma-list .value {
display: inline-block;
width: 100%;
border: solid 2px #888888;
}

.harm-table {
border-collapse: collapse;
width: 24em;
}

.harm-table tr {
height: 2em;
}

.harm-table td {
text-transform: uppercase;
font-weight: bold;
border: solid 1px #000000;
}

.harm-table .row1 {
height: 1em;
}

.harm-table .row1 td {
font-family: 'Ethnocentric';
font-weight: normal;
background: #000000;
color: #ffffff;
padding-left: 0.5em;
}

.harm-table .col1,
.harm-table .col4 {
font-size: 0.7em;
background: #CCCCCC;
}

.harm-table .col1 {
width: 1em;
}

.harm-table .col4 {
width: 4em;
}

.health-note p {
margin-top: 0;
}

.health-note .title {
font-weight: bold;
}

.special-abilities {
background-color: #cccccc;
padding-bottom: 0.5em;
padding-left: 0;
}

.special-abilities .title-area {
background-color: #888888;
margin: 0;
padding-left: 0.5em;
}

.special-abilities h3 {
font-family: 'Ethnocentric';
font-weight: normal;
margin-bottom: 0.3em;
margin-right: 0.5em;
}

.special-abilities p {
padding-left: 1em;
padding-right: 0.5em;
text-indent: -1em;
margin: 0;
margin-left: 0.3em;
margin-bottom: 0.3em;
}

.special-abilities .title {
font-weight: bold;
font-variant: small-caps;
}

.notes-row {
display: flex;
justify-content: space-between;
align-items: stretch;
margin-top: 1em;
}

.playbook-friends {
background-color: #cccccc;
padding-bottom: 0.5em;
padding-left: 0;
width: 21em;
}

.playbook-friends .title-area {
background-color: #888888;
margin: 0;
padding-left: 0.5em;
}

.playbook-friends h3 {
font-family: 'Ethnocentric';
font-weight: normal;
margin: 0;
margin-bottom: 0.3em;
margin-right: 0.5em;
}

.playbook-friends .friend-type {
font-family: 'Ethnocentric';
font-size: 0.7em;
}

.playbook-friends .title {
font-weight: bold;
margin-left: 1em;
}

.playbook-friends table {
padding-right: 0.5em;
}

.notes {
margin-left: 1em;
flex: 1;
border: solid 1px #000000;
}

.notes .title-area {
padding-left: 0.5em;
}

.notes h3 {
font-family: 'Ethnocentric';
font-weight: normal;
margin: 0;
margin-right: 0.5em;
}

.notes .note-area {
padding: 0 0.5em;
}

.notes .note-area p {
font-family: 'Architects Daughter';
color: #0000ff;
margin: 0.3em 0;
}

.notes .note-area .title {
text-transform: uppercase;
}

.load {
display: flex;
justify-content: left;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.load>.title {
font-family: 'Ethnocentric';
margin-right: 1em;
}

.load>div {
margin-right: 1em;
}

.load .load-level .title {
text-transform: lowercase;
}

.playbook-items {
background-color: #cccccc;
padding-bottom: 0.5em;
padding-left: 0;
}

.playbook-items .title-area {
background-color: #888888;
margin: 0;
padding-left: 0.5em;
}

.playbook-items h3 {
font-family: 'Ethnocentric';
font-weight: normal;
margin-bottom: 0.3em;
margin-right: 0.5em;
}

.playbook-items ul {
padding: 0;
margin: 0;
margin-left: 0.5em;
margin-right: 0.5em;
list-style: none;
}

.playbook-items .title {
font-weight: bold;
}

.standard-items {
padding-bottom: 0.5em;
padding-left: 0;
}

.standard-items .title-area {
margin: 0;
padding-left: 0.5em;
}

.standard-items h3 {
font-family: 'Ethnocentric';
font-weight: normal;
margin-bottom: 0.3em;
margin-right: 0.5em;
}

.standard-items ul {
padding: 0;
margin: 0;
margin-left: 0.5em;
margin-right: 0.5em;
list-style: none;
}

.standard-items .title {
font-weight: bold;
}

.marker {
font-size: 1.4em;
line-height: 1em;
font-weight: normal;
display: inline-block;
margin-top: -0.2em;
}

.box {
font-weight: bold;
}

.box0 {
font-weight: bold;
font-size: 0.8em;
position: relative;
top: -0.2em;
}

.license-footer {
font-family: 'URW Gothic';
font-size: 0.64rem;
}

.page2-header {
display: none;
}

@media print {
@page {
    size: A4;

    @bottom-right {
    content: counter(page);
    }
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    page-break-after: avoid;
}

table {
    page-break-before: avoid;
    page-break-inside: avoid;
}

.description .row1 .title {
    width: 20%;
}

.description .row1 .value {
    width: 30%;
}

.header {
    flex-direction: row;
}

.header .game-name {
    display: none;
}

.page2-header {
    page-break-before: always;
    display: flex;
    justify-content: right;
    margin-bottom: 1em;
}

.page2-header .playbook-title {
    display: none;
}

.page2-header .game-name {
    font-family: 'Ethnocentric';
    text-transform: uppercase;
    margin-block-end: 0;
    text-align: right;
    margin: 0;
}

.page2-header .game-name .ampersand {
    color: #888888;
}

.license-footer {
    display: block;
    font-family: 'URW Gothic';
    margin-top: 2em;
}

.license-footer .cc-logo {
    float: left;
    margin-top: 0;
    margin-right: 1em;
    margin-bottom: 1em;
}
}
